$def with (name)
<!--this html is used for drawing User Data on Manager website-->
<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["table"]});
      google.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = google.visualization.arrayToDataTable($:name);


        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '30%', height: '50%'});

      }
    </script>
  </head>
  <body>
    <div id="table_div"></div>
  </body>
</html>
