<html>
  <head>
    <style type="text/css">
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    th, td {
    padding: 15px;
    }
    </style>
  </head>

  <body>
   <form method="post" action="add_account">
    <table>
     <tr>
      <th>UserName</th>   
      <th>Password</th>
    <!--<th>Operation</th>-->
     </tr>

      <tr>
      <td><input type="text" name="UserName" ><input type="submit" value="Add" ></td>
      <td><input type="text" name="Password" ><input type="submit" value="Add" ></td>
      </tr>

    </table>

   </form>
  </body>
</html>

